.bean-two-column-video-content
{
  .block-title
  {
    font-size: 3em;
    line-height: 1;
    padding-bottom: 40px;
    border-bottom: 2px solid black;
    margin-bottom: 15px;

    &
    {
      @media (max-width: 480px)
      {
        font-size: 2em;
        padding-bottom: 25px;
      }
    }
  }
  .video
  {
    text-align: center;
    font-size: 0;
    box-sizing: border-box;
    padding: 25px;

    video
    {
      display: inline-block;
      max-width: 100%;
      height: auto !important;
      box-sizing: border-box;
      border: 2px solid black;
      padding: 2px;
    }
  }
  .content
  {
    box-sizing: border-box;
    padding: 40px 25px;

    & > div
    {
      max-width: 620px;
      margin-left: auto;
    }
  }
  &
  {
    @media (min-width: 760px)
    {
      .video
      {
        width: 50%;
        float: right;
      }
      .content
      {
        width: 50%;
        float: left;
      }
      &.video-left
      {
        .video
        {
          float: left;
        }
        .content
        {
          float: right;

          & > div
          {
            margin-left: 0;
          }
        }
      }
    }
  }
}
