.white-button
{
  display: inline-block;
  color: black;
  border: 0;
  padding: 0 32px;
  height: 50px;
  line-height: 50px;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  position: relative;
  font-size: 1.125em;
  background: white;
  background: linear-gradient(108deg, transparent 0%, transparent 15px, white 16px, white calc(100% - 16px), transparent calc(100% - 15px), transparent 100%);

  &:hover
  {
    color: white;
    background: black;
    background: linear-gradient(108deg, transparent 0%, transparent 15px, black 16px, black calc(100% - 16px), transparent calc(100% - 15px), transparent 100%);
  }
}

.black-button
{
  display: inline-block;
  color: white;
  border: 0;
  padding: 0 32px;
  height: 50px;
  line-height: 50px;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  position: relative;
  font-size: 1.125em;
  background: none;
  -webkit-appearance: none;
  appearance: none;
  background: black;
  background: linear-gradient(108deg, transparent 0%, transparent 15px, black 16px, black calc(100% - 16px), transparent calc(100% - 15px), transparent 100%);
  
  &:hover
  {
    color: black;
    background: white;
    background: linear-gradient(108deg, transparent 0%, transparent 15px, white 16px, white calc(100% - 16px), transparent calc(100% - 15px), transparent 100%);
  }
}

.form-submit
{
  display: inline-block;
  color: white;
  border: 0;
  padding: 0 32px;
  height: 50px;
  line-height: 50px;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  font-size: 1.125em;
  background: black;
  background: linear-gradient(108deg, white 0%, white 15px, black 16px, black calc(100% - 16px), white calc(100% - 15px), white 100%);
  min-width: 75px;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;

  &[disabled]
  {
    cursor: default;
    border-color: gray;
    background: gray;
    background: linear-gradient(108deg, white 0%, white 15px, gray 16px, gray calc(100% - 16px), white calc(100% - 15px), white 100%);
  }
}
