.white-button
{
  display: inline-block;
  color: black;
  border: 1px solid white;
  padding: 0 16px;
  height: 50px;
  line-height: 48px;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  position: relative;
  font-size: 1.125em;

  span
  {
    display: block;
    background: white;
    padding: 0 10px;
    min-width: 75px;

    &:before
    {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 16px;
      background: linear-gradient(to bottom right, transparent 0%, transparent 48%, white 52%, white 100%);
    }
    &:after
    {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 16px;
      background: linear-gradient(to top left, transparent 0%, transparent 48%, white 52%, white 100%);
    }
  }
}

.black-button
{
  display: inline-block;
  color: white;
  border: 1px solid black;
  padding: 0 16px;
  height: 50px;
  line-height: 48px;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  position: relative;
  font-size: 1.125em;
  background: none;
  -webkit-appearance: none;
  appearance: none;

  span
  {
    display: block;
    background: black;
    padding: 0 10px;
    min-width: 75px;

    &:before
    {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 16px;
      background: linear-gradient(to bottom right, transparent 0%, transparent 48%, black 52%, black 100%);
    }
    &:after
    {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 16px;
      background: linear-gradient(to top left, transparent 0%, transparent 48%, black 52%, black 100%);
    }
  }
}

.form-submit
{
  display: inline-block;
  color: white;
  border: 1px solid black;
  padding: 0 35px;
  height: 50px;
  line-height: 48px;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  font-size: 1.125em;
  background: black;
  background: linear-gradient(108deg, white 0%, white 14px, black 15px, black calc(100% - 15px), white calc(100% - 14px), white 100%);
  min-width: 75px;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;

  &[disabled]
  {
    cursor: default;
    border-color: gray;
    background: gray;
    background: linear-gradient(108deg, white 0%, white 14px, gray 15px, gray calc(100% - 15px), white calc(100% - 14px), white 100%);
  }
}
