.view-stories
{
  .views-row
  {
    padding-top: 80px;
  }
  h2
  {
    line-height: 1;
    font-size: 3em;
    font-weight: 600;
    padding-bottom: 0.5em;
    border-bottom: 2px solid black;
    margin-bottom: 0.5em;

    &
    {
      @media (max-width: 480px)
      {
        font-size: 2em;
      }
    }
  }
}
