@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,600,700');

body
{
  font-family: 'Raleway', serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  color: black;
}
